.paragraph h3 {
  font-size: 18px;
  font-weight: bold;
}

.paragraph p {
  text-align: justify;
  text-indent: 30px;
  margin-bottom: 30px;
  margin-top: 10px
}

img {
  margin-bottom: 15px;
  width: 100%;
}