.footer {
  //margin-top: 30px;
  width: 100%;
  height: 415px;
  background: linear-gradient(180deg, #FF5454 0%, #C94242 75.96%, #993232 100%);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 20px 70px;
  display: flex;
  color: #FFFFFF !important;
  align-items: flex-start;
  gap: 100px;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      img {
        width: 200px;
        height: 200px;
      }
    }

    .links-menu {
      font-size: 16px;
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: 18px;

      a {
        &:hover {
          text-decoration-line: underline;
          cursor: pointer;
        }
      }
    }
  }

  .contact {

    .title-contact {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        color: #FFFFFF !important;
      }
    }

    .contacts {
      max-width: 300px;

      .item-contacts {
        display: flex;
        align-items: center;
        gap: 5px;

        &:nth-child(2) {
          margin-top: 18px;
        }

        &:nth-child(3) {
          margin-top: 18px;
        }
      }
    }
  }

  .fanpage {
    margin-top: 50px;
    .media {
      display: flex;
      justify-content: center;
      .btn-media {
        width: 40px;
        height: 40px;
        background: var(--color-red-1);
        border-radius: 50%;

        span {
          display: flex;
          justify-content: center;
        }
      }

      .btn-facebook {
        margin-right: 5px;
      }
    }
  }
}