.button button{
  width: 143px;
  height: 45px;
  background: var(--color-red);
  border-radius: 10px;
  border: 2px solid var(--color-red);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #FFFFFF;
  transition: background-color .5s ease;
  &:hover{
    background: none;
    color: var(--color-red);
  }
}