.button button{
  width: 143px;
  height: 45px;
  background: var(--color-red);
  border-radius: 10px;
  border: 2px solid var(--color-red);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #FFFFFF;
  transition: background-color .5s ease;
  &:hover{
    background: none;
    color: var(--color-red);
  }
  .loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}