main {
  .main-about {
    max-width: 1200px;
    margin: auto;
    .intro-content {
      background: rgba(217, 217, 217, 0.38);
      position: relative;
      min-height: 700px;
      .intro-content-img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 75%;
        width: 60%;
        height: 100%;

        img {
          width: 100%;
          height: 75%;
          object-fit: cover;
        }
      }

      .intro-content-text {
        /* Group 29 */
        position: absolute;
        width: 50%;
        height: 400px;
        top: 270px;
        right: 0;
        background: #FFFFFF;
        border-radius: 30px 30px 30px 30px;
        padding: 30px 43px 30px 43px;

        span {
          color: var(--color-red);
        }
      }
    }

    .work-environment {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;

      .work-environment-text {
        width: 40%;
        padding: 20px 44px;
      }

      .work-environment-img {
        width: 60%;
        img{
          width: 100%;
        }
      }
    }

    .present-data {
      width: 100%;
      height: 328px;
      background: var(--color-red);
      text-align: center;
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;

      h1 {
        color: #fff;
      }

      .data {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .data-item {
          color: #FFFFFF;

          .data-item-num {
            /* 5 */
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 73px;
          }

          .data-item-text {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
          }
        }
      }
    }

    .sano-culture {
      padding: 60px 70px;

      .sano-culture-content {
        border: 1px solid #BDB9B9;
        height: 500px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        text-align: center;

        span {
          color: var(--color-red);
        }

        p {
          margin-bottom: 20px;
        }

        .icon-culture {
          img {
            width: 50px;
          }
        }

        .text-culture {
          padding: 0 120px;
          margin-bottom: 10px;
        }

        ul {
          text-align: justify;
          list-style: circle;
        }
      }
    }

    .image {
      display: flex;

      img {
      }
    }

    .sano-life-news {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
      .title-life {
        span {
          color: var(--color-red);
        }
      }
      .news {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        .item-news {
            max-width: 320px;
          img {
            margin-bottom: 10px;
          }
          .date-news{
            p{
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
          .sub-text {
            p {
              margin-top: 5px;
              margin-bottom: 5px;
              display: -webkit-box;
              max-width: 320px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 12px;
            }
          }
        }
      }
      .find-out-more{
        //button{
        //  width: 200px;
        //  height: 50px;
        //  background: #FF5454;
        //  border-radius: 10px;
        //  color: #fff;
        //}
      }
    }
  }
  @media screen and (max-width: 430px) {
    .main-about {
      margin: 0;
      max-width: unset;
      .intro-content{
        min-height: unset;
        .intro-content-img{
          position: unset;
          max-width: unset;
          width: 100%;
        }
        .intro-content-text{
          position: unset;
          width: 100%;
          height: auto;
          border-radius: unset;
          padding: 20px 44px;
        }
      }
      .work-environment{
        flex-direction: column-reverse;
        .work-environment-img{
          width: 100%;
        }
        .work-environment-text{
          width: 100%;
        }
      }
      .present-data{
        .data{
          display: grid;
          width: 100%;
          grid-template-columns: auto auto;
          .data-item{
            .data-item-num{
              font-size: 40px;
              line-height: unset;
            }
            .data-item-text{
              font-size: 16px;
            }
          }
        }
      }
      .sano-culture{
        padding: 20px 10px;
        .sano-culture-content{
          padding: 30px;
          .text-culture{
            padding: unset;
          }
        }
      }
      .sano-life-news{
        .news{
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  @media screen and (max-width: 834px) {
    .main-about {
      margin: 0;
      max-width: unset;
      .intro-content{
        min-height: unset;
        .intro-content-img{
          position: unset;
          max-width: unset;
          width: 100%;
        }
        .intro-content-text{
          position: unset;
          width: 100%;
          height: auto;
          border-radius: unset;
          padding: 20px 44px;
        }
      }
      .work-environment{
        flex-direction: column-reverse;
        .work-environment-img{
          width: 100%;
        }
        .work-environment-text{
          width: 100%;
        }
      }
      .present-data{
        .data{
          display: grid;
          width: 100%;
          grid-template-columns: auto auto;
          .data-item{
            .data-item-num{
              font-size: 50px;
              line-height: unset;
            }
            .data-item-text{
              font-size: 18px;
            }
          }
        }
      }
      .sano-culture{
        padding: 20px 10px;
        .sano-culture-content{
          padding: 30px;
          .text-culture{
            padding: unset;
          }
        }
      }
      .sano-life-news{
        .news{
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
    }
  }
}